<body>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Разработчик</h3>
                        <ul>
                            <li><a href="https://vk.com/nateales" target="__blank">VK</a></li>
                            <li><a href="https://twitch.com/nateales" target="__blank">Twitch</a></li>
                            <li><a href="https://www.instagram.com/exi.dh" target="__blank">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Ссылки</h3>
                        <ul>
                            <li><a href="/dashboard">Панель бота</a></li>
                            <li><a href="https://discord.gg/invite/nacafe" target="__blank">Поддержка</a></li>
                            <li><a href="https://github.com/delicacystudios/newmiffie" target="__blank">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>О боте</h3>
                        <p>Miffie — это новый и универсальный дискорд бот, созданый для упрощения управления серверами в дискорде</p>
                    </div>
                </div>
                <p class="copyright">Miffie © 2022</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>