<%- include("partials/header", { bot, user, path, title: "Главная | Miffie" }) %> 

<div class="min-h-screen">
  <div id="content">
    <div class="py-6 md:py-12 grid place-items-center h-screen">
      <div class="container px-4 mx-auto">
        <div class="text-center max-w-2xl mx-auto">
          <h1 class="text-3xl md:text-4xl text-white font-medium mb-2">Miffie</h1>
          <h3 class="text-2xl md:text-2xl text-white font-medium mb-2">Новый универсальный бот для вашего сервера</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="min-h-screen">
    <div id="content">
      <div class="py-6 md:py-12 grid place-items-center h-screen">
        <div class="text-center max-w-2xl mx-auto">
          <h1 class="text-3xl md:text-4xl text-white font-medium mb-2">Our Features</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-spotify"></i> 
            <i class="fab fa-youtube"></i>
            <i class="fab fa-soundcloud"></i>
            <h3 class="title">Spotify, Sound Cloud, YouTube Support</h3>
          </div>
          <div class="part-2">
            <p class="description">
              Use your spotify playlist, youtube videos, youtube playlists and much more using this bott
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fas fa-music"></i>
            <h3 class="title">Good quality sound</h3>
          </div>
          <div class="part-2">
            <p class="description">
              The bot never lags while playing a song in a voice channel
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fas fa-sliders-h"></i>
            <h3 class="title">Server Settings</h3>
          </div>
          <div class="part-2">
            <p class="description">
              Full control of song looping or queue, You also can change prefix of the bot to more comfortable for yourself!
            </p>
          </div>
        </div>
      </div>
    </div>
</div> -->

<%- include("partials/footer") %>